.header{
    width: 700px;
    border: 3px solid white;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 400px;
    color: white;
    text-align: center;
}

#big_h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    letter-spacing: 7px;
    height: 30px;
}

#big_h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    letter-spacing: 11px;
    height: 20px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    line-height: 5px;
    height: 10px;
    color: white;
}

#date{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.footer{
    width: 700px;
    border: 3px solid white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

button{
    width: 150px;
    border: none;
    background: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    transition: 0.3s;
}

button:hover{
    background-color: rgba(167, 167, 167, 0.5);
    cursor: pointer;
    transform: scale(1.1);
}

#button_stop{
    width: 200px;
}
